.input {
    display: block;
    border: 3px solid $color-primary;
    width: 100%;
    border-radius: 10px;
    @include text(normal, 500, 20px, 24px, $color-dark);
    padding: 24px;

    &_type_error {
        border: 3px solid $color-error;
    }

    @media only screen and (max-width: $screen-mobile) {
        @include text(normal, 500, 14px, 17px, $color-dark);
        padding: 12px;
    }
}
