.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    background-color: $color-primary;
    @include text(normal, 700, 26px, 32px, $color-light);
    padding: 19px 40px;
    border-radius: 10px;
    border: none;
    cursor: pointer;

    @media only screen and (max-width: $screen-mobile) {
        @include text(normal, 700, 13px, 16px, $color-light);

        padding: 12px;
    }
}
