.menu {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-top: 24px;
    width: 300px;
    height: calc(100vh - 96px);
    overflow-y: auto;

    @include divider-shadow($divider-background, $divider-shadow);

    &__header {
        @include text(normal, 700, 20px, 24px, $color-dark);
        padding: 0 0 29px 32px;
        margin: 0;
    }

    &__items-wrapper {
        display: flex;
        flex-direction: column;
        gap: 36px;
    }
}
