::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: none;
}

::-webkit-scrollbar-thumb {
    background: $color-primary;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    opacity: 0.7;
}
